
<h1 id="title">SimpleBBS</h1>

<hr>

<div class="container">
<div id="posts">
  <% if @posts.nil? %>
    <div class="text-center">投稿はまだありません。メッセージを残しましょう！</div>
  <% end %>
  <% @posts.each do |p| %>
    <div class="post">
      <div class="post-info"><%= p.id %>:<span><%= p.user_name %>(<%= p.posted_at %>)</span></div>
      <div class="message"><%= p.message %>
        <div class="btn-del text-right">
          <form method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="id" value="<%= p.id %>" />
            <input type="submit" id="" class="btn btn-default btn-sm" value="del" />
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="forms" class="panel panel-default">
  <div class="row text-center panel-body">
    <form method="POST">
      <div class="col-xs-4">
        <label>Message</label>
        <input class="form-control" type="text" name="mess" placeholder="入力してください" value="">
      </div>
      <div class=" col-xs-4">
        <label>Username</label>
        <input type="text" name="user_name" class="form-control" placeholder="your name">
      </div>
      <div class="col-xs-2">
        <label>Delete key</label>
        <input type="email" class="form-control" name="del_key" placeholder="XXXX">
      </div>
      <div class="col-xs-2">
        <button type="submit" id="btn-post" class="btn btn-default" disabled="disabled">GO</button>
      </div>
    </form>
  </div>
  <p class="small text-center">30文字を超えるユーザー名は一部が省略されます。</p>
</div>

</div>

<script type="text/javascript" src="javascript/bbs.js"></script>
